<nav>
	<div>
		<a href="/">
			Close Up		
		</a>
	</div>
	<div>
		<ul>
		<% if (!user) { %>
			<li><a href="/signup">Sign up</a></li>
			<li><a href="/login">Login</a></li>
		<% } %>
		<% if (user) { %>
			<li><a href="/logout"> Log Out</a></li>
		<% } %>
		</ul>
	</div>
</nav>