<% include ./partials/head %>

	<div class="camera">
		<video autoplay></video>
		<button id="snapshot">Take a photo</button>
	</div>

	<canvas></canvas>

	<div class="output">
		
		<figure class="none">
			<img alt="" class="photo">
		</figure>

		<figure class="brooklyn">
			<img alt="" class="photo">
		</figure>

		<figure class="earlybird">
			<img alt="Screen capture" class="photo">
		</figure>
		
		<figure class="_1977">
			<img alt="" class="photo">
		</figure>
		
		<figure class="brannan">
			<img alt="Screen capture" class="photo">
		</figure>

		<figure class="nashville">
			<img alt="" class="photo">
		</figure>
		
		<figure class="willow">
			<img alt="" class="photo">
		</figure>

		<figure class="inkwell">
			<img alt="" class="photo">
		</figure>
		
		<figure class="toaster">
			<img alt="Screen capture" class="photo">
		</figure>

		<figure class="xpro2">
			<img alt="Screen capture" class="photo">
		</figure>
		
	</div>
	
<% include ./partials/footer %>